In [10]:
import pandas as pd

reliance = pd.read_csv("data/Quote-Equity-RELIANCE-EQ-31-10-2023-to-31-10-2024.csv")
infy = pd.read_csv("data/Quote-Equity-INFY-EQ-31-10-2023-to-31-10-2024.csv")
tcs = pd.read_csv("data/Quote-Equity-TCS-EQ-31-10-2023-to-31-10-2024.csv")
techm = pd.read_csv("data/Quote-Equity-TECHM-EQ-31-10-2023-to-31-10-2024.csv")
wipro = pd.read_csv("data/Quote-Equity-WIPRO-EQ-31-10-2023-to-31-10-2024.csv")

In [12]:
reliance.columns

Index(['Date ', 'series ', 'OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ',
       'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades '],
      dtype='object')

In [13]:
reliance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           251 non-null    object
 1   series         251 non-null    object
 2   OPEN           251 non-null    object
 3   HIGH           251 non-null    object
 4   LOW            251 non-null    object
 5   PREV. CLOSE    251 non-null    object
 6   ltp            251 non-null    object
 7   close          251 non-null    object
 8   vwap           251 non-null    object
 9   52W H          251 non-null    object
 10  52W L          251 non-null    object
 11  VOLUME         251 non-null    object
 12  VALUE          251 non-null    object
 13  No of trades   251 non-null    object
dtypes: object(14)
memory usage: 27.6+ KB

set data as index, column need Only close, of each compny and convert to float, set all data set merge data set different column